doctype html
html
    head
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        style
            include style.css
        title Tech|Analytics
    body
        div(class='wrap')
            div(class='header')
                div(class='left-side')
                    div(class='logo')
                        img(
                        src='/public/images/LOGO.png'
                        alt='logo'
                        )
                .right-side
            div.main
                div.server-response-form
                    if authorised
                        div.text-header= header
                        div.text= text
                        a(href='https://techanalytics.000webhostapp.com/')= link